<mat-card class="movieViewCard">

  <div class="movieCardCol1">

  <mat-card-header>
  <mat-card-title class="movieCardTitle">{{movie.title}}</mat-card-title>
<mat-card-subtitle class="movieCardGenre">{{movie.genre}}</mat-card-subtitle>
<mat-card-subtitle class="movieCardDirector">{{movie.director}}</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <mat-card-subtitle class="movieCardDescription">{{movie.description}}</mat-card-subtitle>
</mat-card-content>
</div>

<div class="movieCardCol2">
  <img mat-card-image src={{movie.imageURL}} alt= {{movie.title}} class="movieImg">
</div>
</mat-card>