<mat-toolbar class="nav" [hidden]="false">
  <div class="hamburger">
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="logo">
      <a routerLink="/movies">90s Movies</a>
  </div>
  <div class="navItems">
      <ul class="navigation-items">
          <li class="items">
              <a routerLink="/profile">Profile</a>
          </li>
          <li class="items">
              <a routerLink="/welcome" 
              (click)="logOut()"
              >LogOut</a>
          </li>
      </ul>
  </div>
</mat-toolbar>